[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hidradenitis"]
	path = hidradenitis
	url = https://github.com/humanpred/hidradenitis
