[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PKNCA"]
	path = PKNCA
	url = https://github.com/humanpred/pknca
[submodule "formulops"]
	path = formulops
	url = https://github.com/humanpred/formulops
[submodule "ggtibble"]
	path = ggtibble
	url = https://github.com/humanpred/ggtibble
[submodule "hidradenitis"]
	path = hidradenitis
	url = https://github.com/humanpred/hidradenitis
[submodule "meddra.read"]
	path = meddra.read
	url = https://github.com/humanpred/meddra.read
[submodule "tabtibble"]
	path = tabtibble
	url = https://github.com/humanpred/tabtibble
